.container
{
    padding: 2rem 0rem;
}

.title
{
    margin: 50px 0px;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.categories
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.category
{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: capitalize;
    width: 10rem;
    height: 70px;
    justify-content: center;
    border-radius: 10px;
    color:rgb(16, 16, 16);
}


.category.fashion
{
    background-color: var(--fashion);
}
  
.category.lifestyle
{
    background-color: var(--food);
}
  
.category.travel 
{
    background-color: var(--travel);
}
  
.category.culture
{
    background-color: var(--culture);
}
  
.category.technology
{
    background-color: var(--coding);
}
  
.image
{
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 640px)
{
    .category
    {
        width: 100%;
    }
}