.container
{
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.select
{
    margin-bottom: 50px;
    padding: 10px 20px;
    margin-left: 50px;
    width: max-content;
}
  
.editor
{
    display: flex;
    gap: 20px;
    padding: 0px 50px;
    width: 100%;
}
  
  .button,
  .addButton {
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .addButton {
    border-color: #b188d2;
  }
  
  .add {
    display: flex;
    gap: 20px;
    background-color: var(--bg);
    width: 100%;
  }

  .img
  {
    cursor: pointer;
  }
  
  .input{
    padding: 50px;
    font-size: clamp(1.5rem, 3vw, 3rem);
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
  }
  
  .input::placeholder{
    color: #b3b3b1;
  }
  
  .textArea {
    width: 100%;
    margin-top: 2rem;
    padding: 0px 30px;
  }
  
  .publish{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px 20px;
    border: none;
    background-color: #b188d2;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }